
__pycache__/
*.py[cod]
*.log
venv/
env/
.venv/
.env
.env.*
db.sqlite3
*.sqlite3
media/
staticfiles/
firebase_key.json
*.json
.vscode/
.idea/
.DS_Store
Thumbs.db
*.pot
*.mo
celerybeat-schedule
.cache/
